$main__color: #1b539e;

.product__container {
  margin: 2rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .product__content {
    display: flex;
    gap: 2rem;

    .product__image {
      flex-basis: 25%;
      img {
        width: 100%;
      }
    }

    .product__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .product__info__description {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      .product__info__name {
        font-family: "Pacifico", cursive;
        font-weight: bold;
        font-size: 2rem;
        text-transform: capitalize;
      }
      .product__info__price,
      .product__info__number {
        font-size: 1.25rem;
      }

      button {
        padding: 1rem;

        background-color: $main__color;
        color: white;

        font-size: 1em;
      }
    }
  }
  .product__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .product__description__title {
      font-weight: bold;
      font-size: 2rem;
      text-transform: capitalize;
    }
    .product__description__text {
      font-size: 1.25rem;
      color: #333;
    }
  }
}
