$main__color: #1b539e;

.cart__container {
  margin: 5rem 10rem;
  display: flex;
  gap: 1.5rem;
}

.cart__invoice {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
  background: rgb(245 245 250);
  border-radius: 20px;

  //   background-color: $main__color;
  //   color: white;

  .cart__invoice__address__title,
  .cart__invoice__describe__title {
    font-size: 1.5rem;
  }
  .cart__invoice__address__content,
  .cart__invoice__describe__content {
    resize: none;
  }

  .cart__invoice__total__title {
    font-size: 1.5rem;
  }

  .cart__invoice__total__content {
    font-size: 1.2rem;
  }

  .cart__invoice__button {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    button {
      font-size: 1.2rem;
      padding: 0.5rem;
      background-color: $main__color;
      color: white;
    }
  }
}

.cart__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  flex-basis: 80%;

  .cart__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    justify-content: flex-end;

    padding: 1rem;
    background: rgb(245 245 250);
    border-radius: 20px;
    label {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }

    button {
      background-color: red;
      color: white;
      font-size: 0.75rem;
      cursor: pointer;
      padding: 0.5rem;
    }
  }

  .cart__body {
    .cart__items {
      .cart__item {
        display: flex;
        justify-content: space-between;
        gap: 5rem;
        padding: 1rem;
        background: rgb(245 245 250);
        border-radius: 20px;

        .cart__item__img {
          flex-basis: 15%;
          display: flex;
          align-items: center;
          gap: 1.5rem;
          img {
            width: 100%;
          }
        }

        .cart__item__info {
          flex-basis: 70%;
          display: flex;
          //   justify-content: space-between;
          align-items: center;

          text-align: right;
          .cart__item__info__name {
            font-size: 1.5rem;
            font-weight: bold;
            display: -webkit-box;
            text-overflow: ellipsis;
            overflow: hidden;
            flex-basis: 40%;
          }

          .cart__item__price {
            font-size: 1.5rem;
            flex-basis: 20%;
          }

          .cart__item__quantity {
            display: flex;
            flex-basis: 20%;
            justify-content: flex-end;

            .cart__item__quantity__minus {
              flex-basis: 10%;
              font-size: 1.5rem;
              font-weight: bold;
              cursor: pointer;

              color: white;
              background-color: red;
            }

            .cart__item__quantity__number {
              width: 30%;
              font-size: 1.5rem;
              text-align: center;
            }

            .cart__item__quantity__plus {
              flex-basis: 10%;
              font-size: 1.5rem;
              font-weight: bold;
              cursor: pointer;

              color: white;
              background-color: green;
            }
          }

          .cart__item__button {
            flex-basis: 20%;
            button {
              background-color: red;
              color: white;
              font-size: 0.75rem;
              cursor: pointer;
              padding: 0.5rem;
            }
          }
        }
      }
    }
  }
}
